<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fervenzagames.apparbitraje">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_app1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".User_Activities.RegisterActivity"
            android:parentActivityName=".StartActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".User_Activities.LoginActivity"
            android:parentActivityName=".StartActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".User_Activities.SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".User_Activities.CargoNivelActivity"
            android:parentActivityName=".User_Activities.SettingsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".CampeonatosActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Detail_Activities.DetalleCampeonatoActivity"
            android:parentActivityName=".CampeonatosActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Add_Activities.AddCampeonatoActivity"
            android:parentActivityName=".CampeonatosActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Add_Activities.AddModalidadActivity"
            android:parentActivityName=".Add_Activities.AddCampeonatoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Detail_Activities.DetalleModalidadActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Arbitraje_Activities.MesaArbitrajeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Add_Activities.AddCategoriaActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Arbitraje_Activities.SillaArbitrajeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Arbitraje_Activities.SillaArbitrajeKCActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Arbitraje_Activities.SillaArbitrajeSJActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Detail_Activities.DetalleCategoriaActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Add_Activities.AddCombateActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Detail_Activities.DetalleCombateActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Add_Activities.AddCompetidorActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GenerarEmparejamientosActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MostrarEmparejamientosActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Edit_Activities.EditArbitroActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Detail_Activities.DetalleArbitroActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ArbitrosActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Add_Activities.AsignarArbitroActivity"
            android:parentActivityName=".Add_Activities.AddCampeonatoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Add_Activities.AddZonaCombateActivity"
            android:parentActivityName=".Detail_Activities.DetalleCampeonatoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CombatesActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>